@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

@font-face {
    font-family: 'Songer';
    src: url('../fonts/SONGER_SE_Regular.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Songer';
    src: url('../fonts/SONGER_SE_Medium.otf') format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Songer';
    src: url('../fonts/SONGER_SE_Bold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Songer';
    src: url('../fonts/SONGER_SE_ExtraBold.otf') format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'Songer';
    src: url('../fonts/SONGER_SE_Heavy.otf') format("opentype");
    font-weight: 900;
}